/*  Begin Of Vendor Prefix Of Body */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital@1&display=swap');

*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin: 0px;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.countoral{
    width: 80%;
    margin:100px auto;
}
/* End Of Vendor Prefix Of Body */
/* begin of First Section Of Templet */
/* start header style */
header{
    background:url('../tsk-5/images/home-banner.jpg');
    color: aliceblue;
    width:100%;   
}
header nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
}
header nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
header nav ul li a{
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 15px;
}
header .headerText{
    text-align: left;
    margin: 200px 200px;
    height: auto;
    line-height: 1.1;
    overflow-y: hidden;
    padding-bottom: 70px;
 }
 header .headerText h1{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 800;
    overflow-y: hidden;
    letter-spacing: 1.6px;
}
header .headerText .button{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: #A7CB00;
    color: #fff;
    padding: 15px 50px;
    /* padding-bottom: 30px; */
    text-decoration: none;
    width: 600px;
    /* height: 00px; */
    /* border: 2px solid; */
    border-radius: 7px;
    /* margin-bottom: 20px;*/

}
header .headerText .button:hover{
    background: none;
    color: #A7CB00;
    border: 1px solid #A7CB00;
    transition: .5s ease-in-out;
}
header .headerText p{
    margin: 20px auto;
    letter-spacing: 1.5px;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
}

/* end header style */
/*  End Of First Section Of Templet */
.next{ 
    display: flex;  
}
.next .backage{
   /* width: 0%; */
    flex: 2;
    margin-left: 200px;
    padding-top: 100px;
    text-align: left;
    line-height: 32px;
    letter-spacing: 1.1px;
    padding-right: 200px;
}
.next .backage h3{
    line-height: 23px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: revert;
    font-size: 20px;
}
.next .backage h1{
    margin-top: 40px;
    font-weight: 600;
    letter-spacing: 2.5px;
    font-size: 33px;
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;

}
.next .backage .button_more{
    width: 100px;
    /* height: 0px; */
    padding: 15px 30px;
    margin-top: 0px !important;
    border-radius: 10px;
    background-color: #A7CB00;
    color: #fff;
    font-weight: 600;
}
.next .backage p{
    color: #bab8b6;
    line-height: 23px;
    margin: 30px auto;
}




/* beging of second section of templet 

.next span{
    font-size:10px;
    font-weight:bold
}
.next .perant{  
    flex: 1;
    margin-right: 40px;
    margin-left: 40px;
}

.backage  p{
    margin: -5px auto 20px
}


/* end of second section of templet */
/* Begin Of Third Section Of Templet */

section .start3sec{
    text-align:center;
    width:50%;
    font-family: 'Andika New Basic', sans-serif;
    margin:110px auto auto; 

}
section .start3sec h1{
    letter-spacing: 1.2;
}
section .start3sec p{
    color: #5b5858;
    margin-top: 20px;
    letter-spacing: 1.2px;
    margin-bottom: 50px;
}
section .all{
    display: flex;
    margin: 50px auto;
    letter-spacing: 1.2px;

}
section .all .all_card{
    border: 1px solid #b1aeae40;
    border-radius: 10px;
    padding: 40px 30px;
    margin: 30px 20px;
   
    

}
section .all .all_card:hover{
    box-shadow: -1px 1px 8px 10px #cccccc38;
    border: none;
    transform-origin: center;
    transition:1s ease;
}



section .all .all_card p {
    color: #5b5858;
    margin-bottom: 30px;
    line-height: 1.5;
}
section .all .all_card h1{
    margin: 30px auto ;
    font-family: 'Andika New Basic', sans-serif;

}
section .all .all_card .but_view{
    padding: 10px 25px;
    margin-top: 0px !important;
    border-radius: 10px;
    background-color: #A7CB00;
    color: #fff;
    font-weight: 600;
    box-shadow: -1px 1px 8px 5px #807b7b38;
}
section .all .all_card .but_view:hover{
    box-shadow: none;
    transition:1s ease;

}




/* Begin Of Forth Section Of Templet */
section .forth{  
    text-align: center;
    width: 50%;
    margin: 0px auto auto;
    font-family: sans-serif;
    line-height: 1.5;
    letter-spacing: 1.5px;
}
section .forth p{
    margin-top: 10px;
    color: #958b8b;
}

section .next2 {
    display: flex;   
    margin-top: 80px;
}
section .next2 .child1 {
    background:url(../tsk-5/images/post-s-1.jpg);
    
}
section .next2 .child2 {
    background:url(../tsk-5/images/post-s-2.jpg);
}
section .next2 .child3 {
    background:url(../tsk-5/images/post-s-3.jpg);
}
section .next2 .child4 {
    background:url(../tsk-5/images/post-s-4.jpg);   
}

section .next2 .detels{
    background-color: rgba(0, 0, 0, 0.623);
    padding: 250px 20px 50px 20px;
    color: #fff;
}
section .next2 .detels .linknest{
    color: #fff;
    line-height: 1.2;
    margin-bottom: 30px;
    letter-spacing: 1.4px;

}
section .next2 .detels .linknest:hover{
    color: #A1C304;
}
section .next2 .detels p{
    margin: 50px auto;
    line-height: 1.4;
    letter-spacing: 1.1px;
    font-weight: 600;
    text-transform: capitalize;


}
section .next2 .detels .butDetails{
    padding: 10px 25px;
    margin-top: 0px !important;
    border-radius: 10px;
    background-color: #A7CB00;
    color: #fff;
    font-weight: 600;
}

/*End Of sixth Section Of Templet */



/* Being Of seventh Section Of Templet */


.sec_5{
    margin-top: 150px;
}
.sec_5 .slider{
  /*  width: 70%; */
    margin: auto;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 100px;
}
.slider ul{
    padding: 0;
    display: flex;
    width: 330%;
    list-style: none;
    position: relative;
    animation: mymove 20s infinite;
   
    
}
.sec_5 .slider ul li{
    display: flex;
    justify-content: space-between;
    position: relative;
}
@keyframes mymove {
    from {
        right: 0%;
         }
    to {right: 110%;}

  }
.sec_5 .slider ul li .box{
    overflow: hidden;
    border: 1px solid #3534341f;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
   
}
.sec_5 .slider ul li .box:hover{
    border: none;
    box-shadow:  -1px 1px 8px 5px #a3a0a038;
    transition: 1s;
}
.sec_5 .slider ul li .box p{
    color: #5b5858;
    margin-bottom: 20px;
    line-height: 1.2;
    letter-spacing: 1.1px;
    text-transform: capitalize;
}
.sec_5 .slider ul li .box img{
    margin-right: 250px;
}
.sec_5 .slider ul li .box .text2{
    margin-left: 30px;

}
.sec_5 .slider ul li .box h2{
    text-transform:capitalize;
    color: #000;

}
.sec_5 .slider ul li .box h2:hover{
    color: #A1C304;
}
.sec_5 .slider ul li .box i{
    overflow: hidden;
    margin: 10px auto;
    color: rgb(248, 184, 21);
}
/*


End Of eighth Section Of Templet */
/*Being Of ninth Section Of Templet */
.logo {
    background-color: #FAFCFF;
    text-align: center;
    padding: 100px 15%;
    margin: 110px auto;
    display: flex;
    
}
.logo img{
    opacity: .5;
    margin-right: 100px;
}
.logo img:hover{
    opacity: 1;
}

/*End Of ninth Section Of Templet */
/*Being Of tenth Section Of Templet */



/*End Of tenth Section Of Templet */
/* Being Of eleventh Section Of Templet */
.next4 {
    display: flex; 
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;
}
section .next4 .room .travel{
    margin-top: 50px;
    padding: 5px 10px ;
    color: #fff;
    background-color: #A1C304;
    border-radius: 5px;

}
section .next4 .room .life{
    border: 1px solid rgba(236, 234, 234, 0.527);
    padding: 5px 10px;
    border-radius: 5px;

}
section .next4 .room .life:hover{
    background-color: #A7CB00;
    color: #fff;
    border:1px solid #A1C304;
}
section .next4 .room img{
    margin-bottom: 30px;
}
section .next4 .room h2{
    margin:40px auto ;
}
section .next4 .room h2 a{
    color: #000;
}
section .next4 .room h2 a:hover{
    color: #A1C304;
}
section .next4 .room p{
    margin-right: 50px;
    color: #5b5858c4;
    line-height: 1.5;

}

/* End Of eleventh Section Of Templet */
/* Being Of footer Of Templet */

footer{
    background-color: #000410;
    padding: 100px 50px;
    color: #fff;
}
footer .last2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
footer .last2 .about{
    
    margin: auto 1.3%;
    overflow: hidden;
}
footer .last2 .about input{
    background: none;
    border: 1px solid #cffe9840;
    padding: 10px 90px 10px 20px;
    color: #fff;
}
footer .last2 .about .send{
    padding: 10px 20px;
    background-color: #A7CB00;
    border: 1px solid #A7CB00;
    margin-left: -5px;
    margin-top: 2px;
    overflow: hidden;
    color: #fff;
    font-size: 12px;
}
footer p{
    color: #918f8ed1;
    margin: 20px auto;
    line-height: 1.5;
    text-transform: capitalize;
    
}
footer .last2 .about .sotioal a i{
    color: #FAFCFF;
    margin-right: 10px;
    font-size: 20px;
}
footer .last2 .about .sotioal a i:hover{
    color: #A1C304;
}
i{
    overflow-y: hidden;
}
.copy{
    text-align: center;
    letter-spacing: 1.1px;
    margin-top: 100px;
    font-size: 20px;
}
.copy a{
    color: #A7CB00;
}
.s2{
    width: 40%;
}



/* End Of footer Of Templet */















